*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif !important;
}

html, body{
  min-height: 100%;
  width: 100%;
}

body{
  background-color: rgb(13, 13, 13);
  color: #fff;
}
